/* 目標圖CSS */
#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    padding: 90px;
  }
  
  #goal {
    padding: 10px;
  }

  
/* 底部資訊CSS */

#bottom {
  width: 100%;
  background-color: #746248;
  bottom: 0;
  left: 0;
  text-align: center;
  position: static;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 20px 0; /* 添加上下填充 */
  font-family: 'Arial', sans-serif; /* 更改字體 */
}

h4 {
  color: #ffffff;
  margin-bottom: 10px; /* 添加底部間距 */
}

p {
  color: #d5d5d5;
  font-size: 14px; /* 稍微調大字體 */
  margin: 5px 0; /* 添加上下間距 */
  line-height: 1.5; /* 行距 */
}

p a {
  color: #d5d5d5; /* 保持相同顏色 */
  text-decoration: none; /* 移除連結下劃線 */
}

p a:hover {
  text-decoration: underline; /* 滑鼠懸停時顯示下劃線 */
}


